$primary-bg : rgba(105, 177, 177, 0.5);
$secondary-bg : rgba(160, 199, 199, 0.5);
$hover-bg : rgba(105, 177, 177, 0.8);

@mixin button-action {
    border: none;

    padding: 1rem;
    border-radius: 0.5rem;
    transition: all .5s ease-in-out;

    &.primary {
        background-color: $primary-bg;
    }

    &.secondary {
        background-color: $secondary-bg;
    }
    
    &:hover {
        background-color: $hover-bg;
    }
}